.homepage-container{
    display: flex;
    // // padding-right: 2px; 
    // .sidebar-homepage .submenu-category > .ps-submenu-container {
    //     border-top-left-radius: 5px !important;
    //     border-top-right-radius: 5px !important;
    //     overflow: hidden; /* Đảm bảo các góc bo tròn hiển thị chính xác */
    //   }
      
    //   .sidebar-homepage .submenu-publisher > .ps-submenu-container {
    //     border-bottom-left-radius: 5px !important;
    //     border-bottom-right-radius: 5px !important;
    //     overflow: hidden; /* Đảm bảo các góc bo tròn hiển thị chính xác */
    //   }

    .sidebar-homepage{
        margin-top: 13px;
        padding: 0 13px ;
        border-radius: 10px ;
        display: flex;
        height: 100vh;
        color: white;
        // .ps-sidebar-container{
        //     background-color: rgb(49 44 44 / 70%) 
        // }
        .ps-menuitem-root >.ps-menu-button:hover {
            background-color: #a5986d;
        }
          
    }
    ul.pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}